GestionProveedores.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GestionProveedores/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionProveedores" targetNamespace="http://www.example.org/GestionProveedores/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GestionProveedores/">
      <xsd:element name="consultarDetallesProveedor">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cif" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarDetallesProveedorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultarDetallesProveedorRequest">
    <wsdl:part element="tns:consultarDetallesProveedor" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="consultarDetallesProveedorResponse">
    <wsdl:part element="tns:consultarDetallesProveedorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GestionProveedores">
    <wsdl:operation name="consultarDetallesProveedor">
      <wsdl:input message="tns:consultarDetallesProveedorRequest"/>
      <wsdl:output message="tns:consultarDetallesProveedorResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionProveedoresSOAP" type="tns:GestionProveedores">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarDetallesProveedor">
      <soap:operation soapAction="http://www.example.org/GestionProveedores/consultarDetallesProveedor"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionProveedores">
    <wsdl:port binding="tns:GestionProveedoresSOAP" name="GestionProveedoresSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
