GestionUsuarios.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/GestionUsuarios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionUsuarios" targetNamespace="http://www.example.org/GestionUsuarios/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GestionUsuarios/">
      <xsd:element name="crearUsuario" type="tns:Usuario">

      </xsd:element>
      <xsd:element name="crearUsuarioResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="salida" type="xsd:string" />
          	<xsd:element name="resultado" type="xsd:boolean"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Usuario">
      	<xsd:sequence>
      		<xsd:element name="dni" type="xsd:string"></xsd:element>
      		<xsd:element name="nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="telefono" type="xsd:string"></xsd:element>
      		<xsd:element name="email" type="xsd:string"></xsd:element>
      		<xsd:element name="direccion" type="xsd:string"></xsd:element>
      		<xsd:element name="password" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="email" type="xsd:string"></xsd:element>
      			<xsd:element name="password" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="loginResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="resultado" type="xsd:boolean"></xsd:element>
      			<xsd:element name="salida" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearUsuarioRequest">
    <wsdl:part element="tns:crearUsuario" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="crearUsuarioResponse">
    <wsdl:part element="tns:crearUsuarioResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="loginRequest">
  	<wsdl:part name="parameters" element="tns:login"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
  	<wsdl:part name="parameters" element="tns:loginResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionUsuarios">
    <wsdl:operation name="crearUsuario">
      <wsdl:input message="tns:crearUsuarioRequest"/>
      <wsdl:output message="tns:crearUsuarioResponse"/>
    </wsdl:operation>
    <wsdl:operation name="login">
    	<wsdl:input message="tns:loginRequest"></wsdl:input>
    	<wsdl:output message="tns:loginResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionUsuariosSOAP" type="tns:GestionUsuarios">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="crearUsuario">

  		<soap:operation
  			soapAction="http://www.example.org/GestionUsuarios/crearUsuario" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="login">
  		<soap:operation
  			soapAction="http://www.example.org/GestionUsuarios/login" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionUsuarios">
    <wsdl:port binding="tns:GestionUsuariosSOAP" name="GestionUsuariosSOAP">
      <soap:address location="http://localhost:9080/PracticaFinal/services/GestionUsuarios"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>