proveedor1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/proveedor1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proveedor1" targetNamespace="http://www.example.org/proveedor1/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/proveedor1/">
      <xsd:element name="solicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="unidades" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="salida" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPersonalizado">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ski" type="xsd:boolean"></xsd:element>
      			<xsd:element name="material" type="xsd:boolean"></xsd:element>
      			<xsd:element name="profesor" type="xsd:boolean"></xsd:element>
      			<xsd:element name="alojamiento" type="xsd:boolean"></xsd:element>
      			<xsd:element name="unidades" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPersonalizadoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="salida" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="solicitarPresupuestoRequest">
    <wsdl:part element="tns:solicitarPresupuesto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="solicitarPresupuestoResponse">
    <wsdl:part element="tns:solicitarPresupuestoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="solicitarPersonalizadoRequest">
  	<wsdl:part name="parameters" element="tns:solicitarPersonalizado"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarPersonalizadoResponse">
  	<wsdl:part name="parameters" element="tns:solicitarPersonalizadoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="proveedor1">
    <wsdl:operation name="solicitarPresupuesto">
      <wsdl:input message="tns:solicitarPresupuestoRequest"/>
      <wsdl:output message="tns:solicitarPresupuestoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="solicitarPersonalizado">
    	<wsdl:input message="tns:solicitarPersonalizadoRequest"></wsdl:input>
    	<wsdl:output message="tns:solicitarPersonalizadoResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor1SOAP" type="tns:proveedor1">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="solicitarPresupuesto">

  		<soap:operation
  			soapAction="http://www.example.org/proveedor1/solicitarPresupuesto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="solicitarPersonalizado">

  		<soap:operation
  			soapAction="http://www.example.org/proveedor1/solicitarPersonalizado" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor1">
    <wsdl:port binding="tns:proveedor1SOAP" name="proveedor1SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
