BPELCorrecto/bpelContent/proveedor3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/proveedor3/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proveedor3" targetNamespace="http://www.example.org/proveedor3/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/proveedor3/">
      <xsd:element name="solicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="unidades" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="salida" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="solicitarPresupuestoRequest">
    <wsdl:part element="tns:solicitarPresupuesto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="solicitarPresupuestoResponse">
    <wsdl:part element="tns:solicitarPresupuestoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="proveedor3">
    <wsdl:operation name="solicitarPresupuesto">
      <wsdl:input message="tns:solicitarPresupuestoRequest"/>
      <wsdl:output message="tns:solicitarPresupuestoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor3SOAP" type="tns:proveedor3">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="solicitarPresupuesto">

  		<soap:operation
  			soapAction="http://www.example.org/proveedor3/solicitarPresupuesto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor3">
    <wsdl:port binding="tns:proveedor3SOAP" name="proveedor3SOAP">
      <soap:address location="http://localhost:9080/PracticaFinal/services/proveedor3WSDL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
