WebContent/WEB-INF/services/GestionUsuarios/META-INF/GestionUsuarios.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GestionUsuarios" targetNamespace="http://www.example.org/GestionUsuarios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/GestionUsuarios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GestionUsuarios/">
      <xsd:element name="crearUsuario" type="tns:Usuario">

      </xsd:element>
      <xsd:element name="crearUsuarioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="salida" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Usuario">
      	<xsd:sequence>
      		<xsd:element name="dni" type="xsd:string"/>
      		<xsd:element name="nombre" type="xsd:string"/>
      		<xsd:element name="telefono" type="xsd:string"/>
      		<xsd:element name="email" type="xsd:string"/>
      		<xsd:element name="direccion" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crearUsuarioResponse">
    <wsdl:part name="parameters" element="tns:crearUsuarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearUsuarioRequest">
    <wsdl:part name="parameters" element="tns:crearUsuario">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestionUsuarios">
    <wsdl:operation name="crearUsuario">
      <wsdl:input message="tns:crearUsuarioRequest">
    </wsdl:input>
      <wsdl:output message="tns:crearUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionUsuariosSOAP" type="tns:GestionUsuarios">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearUsuario">
      <soap:operation soapAction="http://www.example.org/GestionUsuarios/crearUsuario"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionUsuarios">
    <wsdl:port name="GestionUsuariosSOAP" binding="tns:GestionUsuariosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
