WebContent/WEB-INF/services/proveedor1/META-INF/proveedor3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="proveedor3" targetNamespace="http://www.example.org/proveedor3/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/proveedor3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/proveedor3/">
      <xsd:element name="solicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="unidades" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="solicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="salida" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="solicitarPresupuestoResponse">
    <wsdl:part name="parameters" element="tns:solicitarPresupuestoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarPresupuestoRequest">
    <wsdl:part name="parameters" element="tns:solicitarPresupuesto">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="proveedor3">
    <wsdl:operation name="solicitarPresupuesto">
      <wsdl:input message="tns:solicitarPresupuestoRequest">
    </wsdl:input>
      <wsdl:output message="tns:solicitarPresupuestoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor3SOAP" type="tns:proveedor3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="solicitarPresupuesto">
      <soap:operation soapAction="http://www.example.org/proveedor3/solicitarPresupuesto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor3">
    <wsdl:port name="proveedor3SOAP" binding="tns:proveedor3SOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
